
#wrapper {
  margin-left: auto;
  margin-right: auto;
  background: white;
}

hr {
  border: 5px, solid;
}

.content-section {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.gifty-suggestion {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;   
}

.card-info {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  justify-content: center; 
}

.button-container {
  display: flex;
  justify-content: center;
}

.middle-container {
  margin-top: 1.25em;
  background-color: white;
  display: flex;
  justify-content: center;
}

.bottom-container {
  margin-top: 1em;
  padding: 0.625em;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5em;
}

footer {
  color: black;
  font-size: 1rem;
  background-color: white;
  padding: 100px 0;
}

button {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-style: normal;
  background-color: black;
  height: 110px;
  width: 180px;
  margin-top: 0;
  font-size: 1.5rem;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  color: white;
  animation: shake 10s;
  border: solid 4x black;
  border-radius: 25px;
}

button:hover {
  background: green;
  color: white;
  text-decoration: none;
}

button:active {
  background-color: green;
  color: white;
  border: solid 6x white;
}

.gifty-link img {
  border: 2px solid white;
  border-radius: 6px;
}

@keyframes shake {
  from, to {
    transform: none;
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10%);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateY(-10%);
  }
}








